<% if @list.picture.attached? %>
    <%= image_tag @list.picture, width: "500px" %>
    <br>
    <br>
    <%= button_to "Remove Picture", purge_picture_list_path(@list), method: :delete, data: 
    { confirm: "Are you sure you want to remove the picture?" }, class: "btn btn-secondary btn-sm" %>
<% end %>
<br>
<h1> <%= @list.name %></h1>
<br>

<p> <%= @list.description %> </p>
<hr>

<% if @list.books.any? %>
    <% @list.books.each do |book| %>
        <div class="book-container">
            <strong>Title:</strong> <%= book.title %><br>
            <strong>Author:</strong> <%= book.author %><br>
            <img src="<%= book.cover_url %>", width="100px" <br>
            <br><br>

            <%= link_to "View Book Details", show_all_book_path(book), class:"btn btn-primary" %>
            <br>
            <br>
            <%= button_to "Remove from List", remove_book_from_list_list_path(@list, book), class:'btn btn-danger', method: :delete, 
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this book from the list?" } %>
        </div>
        <br>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No books in this list yet!</p>
<% end %>

<%= link_to "Add More Books!", books_path, class:'btn btn-primary' %>

<hr>

<%= link_to "Edit List", edit_list_path(@list), class:'btn btn-primary btn-sm' %>
<%= button_to "Destroy List", list_path(@list), method: :delete, class:'btn btn-danger btn-sm', data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %>

<br><br>

<%= link_to "Back to My Lists", lists_path, class:'btn btn-primary' %>