<h1 class='main-header'>📚 Book It Up! 📚 </h1>
<hr>
<div class='user-status'>
    <% if user_signed_in? %>
        <p>Welcome back, <strong><%= current_user.first_name %>!</strong></p>
        <p>You are logged in as <strong><%= current_user.username %></strong></p>
    <% else %> 
        <p class="mb-0">Welcome! Please <%= link_to "sign up" , new_user_registration_path %> or
        <%= link_to "sign in" , new_user_session_path%> to get started! </p>
    <% end %>
</div>

<br>
<div class="hero-image">
    <div class="hero-text">
        <h2>Keep track of your reads with Book It Up!</h2>
    </div>
</div>
<br>
<hr>

<div class="info-message">
    <figure class="text-center">
        <blockquote class="blockquote">
            <% if user_signed_in? %>
                <h2 class="text-body-secondary">What to do, what to do~ </h2>
                <p class="mb-0"> Check out <%= link_to "My Lists", lists_path %> or the <%= link_to "Book Catalog", books_path %>! </p>
                <p class="mb-0"> <%= link_to "Search", new_book_path %> for books and <%= link_to "Create New Lists", new_list_path %>!</p>
            <% else %>
                <p>Don't forget to <%= link_to "sign in", new_user_session_path%>!</p>
            <% end %>
        </blockquote>
    </figure>
</div>

<hr>
<br>
<div class="info-message">
    <h2>About</h2>
    <br>
    <p> Welcome to "Book It Up!" Here you can create and organize book lists to share! </p>
    <br>

    <p>First, navigate to the the "My Lists" page to view your lists.</p> 
    <br>

    <p>You'll see that there are already two lists, Favorites and Wishlist.</p>
    <br>

    <p>Try creating your own personal lists!</p>
    <br>

    <p>Then head over to the search and begin searching for a book. Upon clicking a book, you have the option to save it.</p>
    <br>

    <p>Once you save a book onto the book catalog, you will be able to add it to a list. </p>
    <br>

    <p>Upon viewing the catalog, you will see all the books saved by all users.</p>
    <br>

    <p>You also have the option to leave reviews on books!</p>
    <br>

    <p>Try booking it up!</p>
</div>

