<h1>All Books Added By the Community</h1>

<% if @books.present? %>
  <ul>
      <% @books.each do |book| %>

          <% if book.cover_url.present? %>
            <img src="<%= book.cover_url %>" alt="<%= book.title %> Cover" width="150px">
          <% else %>
            <p>No cover image available.</p>
          <% end %>
          <br>
          <strong>Title:</strong> <%= book.title %><br>
          <strong>Author:</strong> <%= book.author %><br>
          <strong>Description:</strong> <%= book.description %><br>
          <br>
          <%= link_to 'View Reviews', book_reviews_path(book), class:"btn btn-warning" %> 
          <%= link_to 'Add a Review', new_book_review_path(book), class:"btn btn-warning" %>

          <br><br>

          <%= link_to "View Book Details", show_all_book_path(book), class:"btn btn-primary" %>
          <br>
          <br>
        <%= link_to "Delete Book Off Catalog", book_path(book), class:"btn btn-danger btn-sm", method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %>
        <hr>
    
    <% end %>
  </ul>
<% else %>
  <p>No saved books found.</p>
<% end %>