<h1> Search For a Book 🔎</h1>
<p>Search for a book and then save it onto the catalog to add it onto a list!</p>
<hr>
<div class="search-container">
  <%= form_with url: new_book_path, method: :get, local: true do %>
    <div>
      <%= label_tag :search, "Search By Title or Author:" %>
      <%= text_field_tag :search, params[:search], class:"form-control" %>
    </div>
    <div>
    <br>
      <%= submit_tag "Search", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
  <br>
  <br>

  <% if !@results.present? %>
    <h3>Results will appear here!!</h3>
  <% end %>

  <% if @results.present? %>

    <h2>Search Results</h2>
    <hr>
      <% @results.each do |book| %>
        <img src="<%= book.dig('volumeInfo', 'imageLinks', 'thumbnail')%>">
        <br>
        <strong>Title:</strong> 
        <%= link_to book.dig('volumeInfo', 'title') || "N/A", 
          book_path(
            id: book['id'], 
            cover_url: book.dig('volumeInfo', 'imageLinks', 'thumbnail'),
            title: book.dig('volumeInfo', 'title'), 
            author: (book.dig('volumeInfo', 'authors') || []).join(', '), 
            description: book.dig('volumeInfo', 'description')) %>
        <br>
        <strong>Authors:</strong> <%= (book.dig('volumeInfo', 'authors') || []).join(', ') %><br>
        <hr>
      <% end %>

  <% end %>