<h1>Reviews for <%= @book.title %></h1>

<% @book.reviews.each do |review| %>
  <p><strong>Review by <%= review.user.username %>:</strong> <%= review.content %></p>
  <%= link_to 'View Review', book_review_path(review.book, review) %>
  <hr>
<% end %>

<%= link_to 'Add a Review', new_book_review_path(@book) %> |
<%= link_to 'Back to All My Reviews', reviews_my_reviews_path %> |
<%= link_to 'Back to Book Catalog', books_path(@book) %>