<h1>Reviews for <%= @book.title %></h1>

<img src='<%= @book.cover_url %>'>
<hr>
<% if @book.reviews.present? %>
  <% @book.reviews.each do |review| %>
    <div class="sm-review-container">
      <p>
      Review by <strong><%= review.user.username %></strong> 
        <% if review.user_id == current_user.id %>
          (me)
        <% end %>
      :</p>
      <br>
      <%= review.content %></p>
      <br>
      <%= link_to 'View Review Details', book_review_path(review.book, review), class:"btn btn-primary" %>
      <br>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>No reviews yet!</p>
<% end %>
<%= link_to 'Add a Review', new_book_review_path(@book), class:"btn btn-primary btn-lg" %>
<br><br>
<%= link_to 'Back to Book', show_all_book_path(@book), class:"btn btn-primary btn-lg" %>