<h1>Reviews for <%= @book.title %></h1>

<img src='<%= @book.cover_url %>'>
<hr>
<br>
<% if @book.reviews.present? %>
  <% @book.reviews.each do |review| %>
    <p>Review by <strong><%= review.user.username %></strong>:</p>
    <%= review.content %></p>
    <%= link_to 'View Review Details', book_review_path(review.book, review), class:"btn btn-primary" %>
    <hr>
  <% end %>
<% else %>
  <p>No reviews yet!</p>
<% end %>
<%= link_to 'Add a Review', new_book_review_path(@book), class:"btn btn-primary" %>
<br><br>
<%= link_to 'Back to All My Reviews', reviews_my_reviews_path, class:"btn btn-primary" %>
<br><br>
<%= link_to 'Back to Book Catalog', books_path(@book), class:"btn btn-primary" %>