<h1>Review for <%= @book.title %></h1>

<img src="<%= @book.cover_url %>">
<br>
<br>
<div class="review-body">
    <p>Review by <strong> <%= @review.user.username %>:</strong> 
    <br>
    <br>
    <%= @review.content %></p>  
</div>
<br><br>
<% if current_user.id == @review.user.id %>
    <%= link_to "Edit Review", edit_book_review_path(@book, @review), class:"btn btn-primary" %>
    <br>
    <br>
    <%= button_to "Destroy Review", book_review_path(@book, @review), class:"btn btn-danger", method: :delete, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %>
<% end %>
<br><br>

<hr>
<br>
<%= link_to 'Back to Book Reviews', book_reviews_path(@book), class:"btn btn-primary" %>
<%= link_to 'Back to All My Reviews', reviews_my_reviews_path, class:"btn btn-primary" %>
<%= link_to 'Back to Book Catalog', books_path(@book), class:"btn btn-primary" %>